    {% extends 'core/base.html'%}
    {% block title %} About Us {% endblock %}
    {% block content %}
<!-- service holder area are start-->
           <div class="service-holder-area shape-holder pt40">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-title text-center pb40">
                    <h1>About</h1>
                    <h2>Brown Foods Agency </h2>
                </div>
<div class="sm-des">
We are a sales agent of Takumi Foods Limited, a manufacturer of Aragaki Chocolate and Shiawase Bento since 2012.
Our sales outlets of Aragaki Chocolate are Nakumatt Acacia Mall, Oasis Mall, Village Mall, Nyala Mall, Victoria Mall, Mbarara Branch, Shoprite Lugogo Branch, Capital Shoppers Garden City Branch and Uganda Duty Free Sales at Entebbe International Airport.<br>
    <br>
    Our details are as follows:- <br>
    Company Name: Brown Foods Agency <br>
Address: FF55, Forest Mall, 3A2/3A3 Sports Lane, Kampala Uganda <br>
Website: www.brown.co.ug <br>
    <br>
Activities: Retails and wholesale of foods staff <br>
    <div class="row">
        <div class="col-md-6 col-sm-6">
             -for Shiawase Bento-<br>
    Tel: 0790-120240<br>
    E-mail: bento@brown.co.ug<br>
        </div>
        <div class="col-md-6 col-sm-6">
              -for Chocolate-<br>
    Tel: 0414-230461<br>
    E-mail: sales@brown.co.ug<br>
        </div>

    </div>


</div>
            </div>
        </div>
               </div>

    {% endblock %}