    {% extends 'core/base.html'%}
    {% block title %} About Us {% endblock %}
    {% block content %}
<!-- service holder area are start-->

    <div class="service-holder-area pt60 shape-holder">
        <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-title text-center pb40">
                    <h1>About</h1>
                    <h2>Brown Foods Agency </h2>
                </div>
<div class="sm-des">

We are a sales agent of Takumi Foods Limited, a manufacturer of Aragaki Chocolate and Shiawase Bento since 2012.

Our sales outlets of Aragaki Chocolate are Nakumatt Acacia Mall, Oasis Mall, Village Mall, Nyala Mall, Victoria Mall, Mbarara Branch, Shoprite Lugogo Branch, Capital Shoppers Garden City Branch and Uganda Duty Free Sales at Entebbe International Airport.
</div>
           <div class="shape-team-img">
               <img src="img/chef1.jpg" alt="">
           </div>
            </div>
        </div>
    </div>
    </div>

    {% endblock %}