{% include 'core/components/page_head_tags.html' %}
<body >
<!--header slider area are start-->
    <div class="header-slider-area">
    <!-- mobile-menu-area start -->

    <!--mobile menu area end-->

    <!--header menu area are start-->
    <div class="header-menu-area">
    <!--header-area are start-->
    <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 hidden-xs">
                        <div class="search-phone">
                            <ul>
                                <li>
                                   <form action="#">
                                       <div class="search-bar">
                                          <button type="button" class="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                           <input type="search" name="search" placeholder="Search...">
                                       </div>
                                   </form>
                               </li>
                                <li><a class="phone" href="#"><i class="fa fa-phone" aria-hidden="true"></i>
0414-230461</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                           <div class="main-menu">
                       <nav>
                        <ul>
                            <li><a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
                           </li>
                            <li><a href="shop.html">Shop <i class="fa fa-angle-down" aria-hidden="true"></i>
</a>
                            <div class="mega-menu">
                               <ul>
                                   <li><a href="cart.html">Cart</a></li>
                                   <li><a href="checkout.html">Checkout</a></li>
                               </ul>
                            </div>
                           </li>
                            <li><a href="{% url 'core:about_us' %}">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="login.html">login</a></li>
                        </ul>
                        </nav>
                    </div>
                    </div>

                    <div class="col-md-3 col-sm-3 hidden-xs">
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i>
</a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--header-area are end-->
    <!-- Main menu area are start  -->

    </div>
    {% block slider %} {% endblock %}
    </div>

  {%block content %}
  {% endblock %}


{% include 'core/components/page_foot_tags.html' %}
</body>

</html>