 {% extends 'core/base.html' %}
 {% block content %}
    <!-- Checkout are start-->
    <div class="cart-area pt60 pb60 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="billing-details">
                        <div class="contact-text right-side">
                            <h2>Delivery Details</h2>
                            <form method="post" action="{% url 'core:process-checkout' %}"> {%csrf_token%}
                                <label>First Name</label>
                                <input type="text" name="name" placeholder="First Name"/>

                                <label>Last Name</label>
                                <input type="text" name="name" placeholder="First Name"/>
                                <div class="payment-section mt20 clearfix">
                                    <div class="input-box pt20 mt20">
                                    <input type="submit" value="Place Order"/>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>

{% endblock %}