{% extends 'core/base.html' %}
{% block slider %}
<!-- home slider start -->
    <div class="slider-container">
        <!-- Slider Image -->
        <div id="mainSlider" class="nivoSlider slider-image">
            <img src="/static/lavie/img/banner/home_banner.jpg" alt="main slider" title="#htmlcaption1" />
            <img src="/static/lavie/img/slider/slider2-home.jpg" alt="main slider" title="#htmlcaption2" />
        </div>
        <!-- Slider Caption 1 -->
        <!--
        <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
            <div class="slider-progress"></div>
            <div class="slide1-text">
               <div class="top-icon sl-icon">
                   <img src="/static/lavie/img/slider/star-icon.png" alt="">
               </div>
                <div class="middle-text">
                    <div class="cap-title wow bounceInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                        <h1>Bento Cusine</h1>
                    </div>
                    <div class="cap-dec wow bounceInDown" data-wow-duration="0.9s" data-wow-delay="0s">
                        <h3>DELIVERIES</h3>
                    </div>
                    <div class="bottom-icon sl-icon">
                        <img src="/static/lavie/img/slider/rou.png" alt="">
                    </div>
                </div>
            </div> -->
        <!-- Slider Caption 2 -->
    </div>
    <!-- home slider end -->
    </div>
{% endblock %}
{% block content %}


    <!-- our-special-menu-area are start-->
    <div class="our-special-menu-area pt60 pb60 ">
            <div class="container">
                <div class="row">
                      <div class="col-md-12">
                           <div class="section-title text-center pb40">
                               <h1>Our</h1>
                               <h2>Menu</h2>
                                <div class="sec-img">
                                    <img src="/static/lavie/img/icon/product2.png" alt="">
                                </div>
                           </div>
                      </div>
                </div>
                <div class="row">
                   <div class="col-md-2 hidden-sm hidden-xs"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="special-menu text-center">
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                                {% for item in menu_items %}

                                  <div class="single-menu-item">
                                      <img src="{{item.image.url}}">
                                   <div class="smi-heading">
                                       <a href="#">{{item.title}}</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>{{item.description}}</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>UGX {{item.unit_price}}</span>
                                    </div>
                               </div>
                                {% endfor %}

                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>


        </div>
    <!-- our-special-menu-area are end-->

{% endblock %}
