{% extends 'core/base.html' %}

{% block title %} Shiawase Bento {% endblock %}
{% block content %}

<div class="service-holder-area pt60 shape-holder">
        <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 text-center">
<div class="sm-des">
Bento is a Japanese word meaning packed meal, and most commonly used for meaning of packed lunch.

Originally, bento was a simple meal for people who work outdoor, but nowadays it is a common lunch meal for many office workers, students and those in picnic.

We have tried our best to bring this Japanese meal to Uganda at an affordable price. Also, we wish to bring you smiles with our bento because Shiawase means happiness.
</div>
           <div class="shape-team-img">
               <img src="img/chef1.jpg" alt="">
           </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}