{% extends 'core/base.html' %}
{% block slider %}
<!-- home slider start -->
    <div class="slider-container">
        <!-- Slider Image -->
        <div id="mainSlider" class="nivoSlider slider-image">
            <img src="/static/lavie/img/slider/slider-home.jpg" alt="main slider" title="#htmlcaption1" />
            <img src="/static/lavie/img/slider/slider2-home.jpg" alt="main slider" title="#htmlcaption2" />
        </div>
        <!-- Slider Caption 1 -->
        <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
            <div class="slider-progress"></div>
            <div class="slide1-text">
               <div class="top-icon sl-icon">
                   <img src="/static/lavie/img/slider/star-icon.png" alt="">
               </div>
                <div class="middle-text">
                    <div class="cap-title wow bounceInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                        <h1>Bento Cusine</h1>
                    </div>
                    <div class="cap-dec wow bounceInDown" data-wow-duration="0.9s" data-wow-delay="0s">
                        <h3>DELIVERIES</h3>
                    </div>
                    <div class="bottom-icon sl-icon">
                        <img src="/static/lavie/img/slider/rou.png" alt="">
                    </div>
                </div>
            </div>
        <!-- Slider Caption 2 -->
        <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
            <div class="slider-progress"></div>
            <div class="slide1-text">
               <div class="top-icon sl-icon">
                   <img src="/static/lavie/img/slider/star-icon.png" alt="">
               </div>
                <div class="middle-text">
                    <div class="cap-title wow bounceInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                        <h1>Menu Cusine</h1>
                    </div>
                    <div class="cap-dec wow bounceInDown" data-wow-duration="0.9s" data-wow-delay="0s">
                        <h3>LUXURYRESTRUNTLOOKBOOK</h3>
                    </div>
                    <div class="bottom-icon sl-icon">
                        <img src="/static/lavie/img/slider/rou.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home slider end -->
    </div>
{% endblock %}
{% block content %}
  <!-- service holder area are start-->
    <div class="service-holder-area pt60 pb60">
        <div class="container">
            <div class="row">
               <div class="total-service-holder carsoule-btn">
                <div class="single-service-holder">
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="holder-img">
                      <a href="#"><img src="/static/lavie/img/author/01.png" alt=""></a>
                  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="holder-content sm-des">
                        <div class="hc-title">
                            <h2>jane Done</h2>
                        </div>
                        <div class="deginaton">
                            <span>CHEF</span>
                        </div>

                        <P>
                            Praesent et dolor tristique, pellentesque eros non, efficitur felis. Donec quis molestie metus. Nulla at justo ex. Vestibulum commodo bibendum consequat. Fusce eleifend eros sit amet congue tristique. Pellentesque tincidunt feugiat rutrum. Suspendisse nec nibh nec nisi euismod.
                        </P>
                    </div>
                    <div class="holder-icon">
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon01.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon02.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon03.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon04.png" alt="">
                        </div>
                    </div>
                </div>
                </div>
                <div class="single-service-holder">
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="holder-img">
                      <a href="#"><img src="/static/lavie/img/author/02.png" alt=""></a>
                  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="holder-content sm-des">
                        <div class="hc-title">
                            <h2>Matthew Done</h2>
                        </div>
                        <div class="deginaton">
                            <span>MASTER CHEF</span>
                        </div>

                        <P>
                            Praesent et dolor tristique, pellentesque eros non, efficitur felis. Donec quis molestie metus. Nulla at justo ex. Vestibulum commodo bibendum consequat. Fusce eleifend eros sit amet congue tristique. Pellentesque tincidunt feugiat rutrum. Suspendisse nec nibh nec nisi euismod.
                        </P>
                    </div>
                    <div class="holder-icon">
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon01.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="img/author/icon02.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="img/author/icon03.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="img/author/icon04.png" alt="">
                        </div>
                    </div>
                </div>
                </div>
                <div class="single-service-holder sm-des">
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="holder-img">
                      <a href="#"><img src="img/author/03.png" alt=""></a>
                  </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="holder-content">
                        <div class="hc-title">
                            <h2>Rabinson Doe</h2>
                        </div>
                        <div class="deginaton">
                            <span>ACCOUNTE MANAGER</span>
                        </div>

                        <P>
                            Praesent et dolor tristique, pellentesque eros non, efficitur felis. Donec quis molestie metus. Nulla at justo ex. Vestibulum commodo bibendum consequat. Fusce eleifend eros sit amet congue tristique. Pellentesque tincidunt feugiat rutrum. Suspendisse nec nibh nec nisi euismod.
                        </P>
                    </div>
                    <div class="holder-icon">
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon01.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="/static/lavie/img/author/icon02.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="img/author/icon03.png" alt="">
                        </div>
                        <div class="single-icon">
                            <img src="img/author/icon04.png" alt="">
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="service-area">
					<div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <img src="/static/lavie/img/author/service1.png" alt="">
                        </div>
                        <div class="service-title">
                            <h2>restaurant</h2>
                        </div>
                        <div class="service-text sm-des">
                            <p>
                                Sed ut perspiciatis unde omnis
                                istenatus error voluptatem accusantium
                                dolorem laudantium, to tam rem aperiames,
                                eaque ipsa quae ab illo inventore veritatis et quasi.
                            </p>
                        </div>
                        <div class="read-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
					<div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <img src="/static/lavie/img/author/service2.png" alt="">
                        </div>
                        <div class="service-title">
                            <h2>Coffe Bar</h2>
                        </div>
                        <div class="service-text sm-des">
                            <p>
                                Sed ut perspiciatis unde omnis
                                istenatus error voluptatem accusantium
                                dolorem laudantium, to tam rem aperiames,
                                eaque ipsa quae ab illo inventore veritatis et quasi.
                            </p>
                        </div>
                        <div class="read-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
					<div class="col-md-4 hidden-sm col-xs-12">
                    <div class="single-service text-center">
                        <div class="service-icon">
                            <img src="/static/lavie/img/author/service3.png" alt="">
                        </div>
                        <div class="service-title">
                            <h2>Cupcake</h2>
                        </div>
                        <div class="service-text sm-des">
                            <p>
                                Sed ut perspiciatis unde omnis
                                istenatus error voluptatem accusantium
                                dolorem laudantium, to tam rem aperiames,
                                eaque ipsa quae ab illo inventore veritatis et quasi.
                            </p>
                        </div>
                        <div class="read-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
				</div>
        </div>
        </div>
    </div>
    <!-- service holder area are end-->

    <!-- our menu area are start-->
    <div class="our-menu-area  pt60 pb60">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                   <div class="section-title text-center pb40">
                       <h1>Fast Food</h1>
                       <h2>Menu</h2>
                        <div class="sec-img">
                            <img src="/static/lavie/img/icon/product.png" alt="">
                        </div>
                   </div>
              </div>
              </div>

            <div class="row">
                <div class="total-our-menu carsoule-btn cb-2">
                    {% for menu_item in menu_items %}
                    <div class="col-xs-12">
                        <div class="single-our-menu">
                            <div class="sm-image">
                                <a href="#"><img src="/static/lavie/img/menu/405/01.JPG" alt="" ></a>
                                 <a class="com-btn" href="{% url 'core:add_to_cart' menu_item.id 1%}">Add To Cart</a>
                                <div class="sm-heading"><a href="#">{{menu_item.name}}</a></div>
                            </div>
                            <div class="sm-content">
                                <div class="sm-des">
                                   {{menu_item.description}}
                                </div>
                                <div class="sm-price">
                                    {{menu_item.unit_price}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="find-more text-center">
                   <a class="com-btn" href="#">Find Out More</a>
            </div>
        </div>
    </div>
    <!-- our menu area are end-->

    <!-- testimonial area are start -->
    <div class="testimonial-area pt40 pb40">
        <div class="container">
               <div class="row">
                  <div class="total-testimonial carasourl-pagi">
                       <div class="col-md-12">
                           <div class="single-testimonial">
                              <div class="tm-img">
                                  <img src="img/author/test01.png" alt="">
                              </div>
                              <div class="tm-content">
                                  <div class="sm-des">
                                      Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                  </div>
                                  <div class="tm-author">
                                      Jhon Doe <span>-Accounce Manager</span>
                                  </div>
                              </div>
                           </div>
                       </div>
                       <div class="col-md-12">
                           <div class="single-testimonial">
                              <div class="tm-img">
                                  <img src="img/author/test01.png" alt="">
                              </div>
                              <div class="tm-content">
                                  <div class="sm-des">
                                      Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                  </div>
                                  <div class="tm-author">
                                      Jhon Doe <span>-Accounce Manager</span>
                                  </div>
                              </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    </div>
    <!-- testimonial area are end -->

    <!-- our-special-menu-area are start-->
    <div class="our-special-menu-area pt60 pb60 ">
            <div class="container">
                <div class="row">
                      <div class="col-md-12">
                           <div class="section-title text-center pb40">
                               <h1>Our</h1>
                               <h2>Menu</h2>
                                <div class="sec-img">
                                    <img src="img/icon/product2.png" alt="">
                                </div>
                           </div>
                      </div>
                </div>
                <div class="row">
                   <div class="col-md-2 hidden-sm hidden-xs"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="special-menu text-center">
                        <div class="sma-img">
                           <img src="img/menu/05.jpg" alt="">
                           <div class="sma-heading">
                               <h3>Specical Menu</h3>
                           </div>
                        </div>
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                            </div>
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="sma-middle mt60">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="special-menu sma-small">
                        <div class="sma-img">
                           <img src="img/menu/06.jpg" alt="">
                           <div class="sma-heading">
                               <h3>Drinks</h3>
                           </div>
                        </div>
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                            </div>
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="special-menu">
                        <div class="sma-img">
                           <img src="img/menu/07.jpg" alt="">
                           <div class="sma-heading">
                               <h3>Breakfast Menu </h3>
                           </div>
                        </div>
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                            </div>
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                  <div class="sma-middle sma-last mt60 bac-right">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="special-menu">
                        <div class="sma-img">
                           <img src="img/menu/09.jpg" alt="">
                           <div class="sma-heading">
                               <h3>Lunch Menu </h3>
                           </div>
                        </div>
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                            </div>
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Lora Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$700.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Duis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$500.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Esas Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$300.00</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="special-menu sma-small">
                        <div class="sma-img">
                           <img src="img/menu/08.jpg" alt="">
                           <div class="sma-heading">
                               <h3>Drinks</h3>
                           </div>
                        </div>
                        <div class="total-menu-item carsoule-btn smp-carsoule">
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                            </div>
                            <div class="total-menu-single">
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                               <div class="single-menu-item">
                                   <div class="smi-heading">
                                       <a href="#">Luis Odio Nulla</a>
                                   </div>
                                    <div class="smi-des">
                                        <span>Lorem ipsum dolor sit...</span>
                                    </div>
                                    <div class="smi-price">
                                       <span>$600.00</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="find-more text-center">
                   <a href="#" class="com-btn">Discover Menu</a>
				</div>
				</div>
            </div>
        </div>
    <!-- our-special-menu-area are end-->

    <!--Reservation area start-->
    <div class="reservation-area pt60 pb60">
        <div class="container">
                <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                           <div class="section-title text-center pb40">
                               <h1>Make Your</h1>
                               <h2>Reservation</h2>
                                <div class="sec-img">
                                    <img src="img/icon/iconh3_03.png" alt="">
                                </div>
                           </div>
                      </div>
                </div>
            <div class="row">
                <div class="smi-des text-center">
                        <span>Make your reservation online any time, day or night by using the form below! La Vie Restaurant looks forward to serving you the best food experience. <br> Or you can also call us from 9:00 am until 11:00 pm everyday </span>
                </div>
                <div class="slider-reserve">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="reserve-slide carasourl-pagi">
                            <div class="rsa-img">
                                <img src="img/slider/slider-small.jpg" alt="">
                                    <div class="rsa-content text-center">
                                        <img src="img/slider/baner-slider.png" alt="">
                                        <h3>Booking</h3>
                                        <img src="img/slider/icon-rou-small.png" alt="">
                                    </div>
                            </div>
                            <div class="rsa-img">
                                <img src="img/slider/slider2-small.jpg" alt="">
                                    <div class="rsa-content text-center">
                                        <img src="img/slider/baner-slider.png" alt="">
                                        <h3>Booking</h3>
                                        <img src="img/slider/icon-rou-small.png" alt="">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="reserve-table">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="input-box">
                                            <label>Date</label>
                                            <input class="date" type="text" placeholder="Which Date? " name="date">
                                        </div>
                                        <div class="input-box">
                                            <label>Time</label>
                                            <input class="time" type="text" placeholder="Chose Your Time" name="time">
                                        </div>
                                        <div class="input-box">
                                            <label>Guest</label>
                                            <select name="guest">
                                                <option value="1">1</option>
                                                <option value="2">50</option>
                                                <option value="3">100</option>
                                                <option value="4">150</option>
                                                <option value="5">200</option>
                                                <option value="6">250</option>
                                                <option value="7">300</option>
                                                <option value="8">350</option>
                                                <option value="9">400</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="input-box">
                                            <label>Name</label>
                                            <input type="text" placeholder="Your Name" name="name">
                                        </div>
                                        <div class="input-box">
                                            <label>Email<em>*</em></label>
                                            <input type="email" placeholder="Email Address" name="email">
                                        </div>
                                        <div class="input-box">
                                            <label>phone</label>
                                            <input type="text" placeholder="Phone Number" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-box checkout">
                                    <a class="com-btn" href="#">Send</a>
                                </div>
                                <div class="after-submit">
                                    please confirm the fields and submit it .
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reservation area end-->

    <!--map area are start-->
    <div class="map-area">
    <div id="googleMap"></div>
</div>
    <!--map area are end-->
{% endblock %}
