{% extends 'core/base.html' %}
{% block title %} How it works {% endblock %}
{% block content %}
    <!-- product-details-area are start-->

                <div class="row ">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- des -review -->
                        <div class="des-review">
                        <ul role="tablist">
                            <li class="active"><a href="#order" role="tab" data-toggle="tab">Order</a></li>
                            <li><a href="#payment"  role="tab" data-toggle="tab">Payment</a></li>
                            <li><a href="#delivery" role="tab" data-toggle="tab">Delivery</a> </li>
                            <li><a href="#postpaid" role="tab" data-toggle="tab">Postpaid</a> </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="order">
                            <div class="des-content">
                                <div class="sm-des">
                                   <span>*Our Service<br>
                                    We provide "Lunchbox delivery service" of Japanese bento.</span>
                                    <span>* Day and time<br>
                                    We deliver only once daily; at lunch time from Monday to Friday excluding public holidays.</span>
                                    <span>* Timing<br>
                                    Orders are expected before 7pm the previous day, then bento is delivered to homes/offices between 1200 - 1300 hours.
Order can be placed up to two weeks in advance.</span>
                                    <span>* Quantity<br>
                                    Currently, our capacity allows production of 30 meals per day. We may decline orders that exceed our capacity.</span>
                                    <span>* Cancellation<br>
                                    Our cancellation charges are as follows;<br>
                                    1. After 7pm of the previous date: 100%<br>
                                    2. After 7pm of two days before 7pm of the previous day: 50%<br>
                                    3. Before 7pm of two days befor: 0%</span>
                                </div>
                            </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="payment">
                              <div class="des-content">
                                  <div class="sm-des">
                                  * Payment can be done online at the time of placing order by credit card
(VISA, Master) or mobile money (MTN, Airtel) only.<br>
                                      * We do not collect cash on delivery.<br>
                                      * Postpaid system is available for the customers who wish to pay weekly or
monthly.<br>
                             </div>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="delivery">
                              <div class="des-content">
                                  <div class="sm-des">
                                      <span>
                                          * Area <br>
Within the circle and along the roads mentioned below;<br>
                                          Kololo and Nakasero (Map)<br>
Wandegeya Junction toJinja Road, Lugogo BypassJunctionthrough Bombo, Kampala/Jinja Road,
Jinja Road/Lugogo Bypass Junction toLugogo Bypass, KiraRoad Roundabout through Lugogo Bypass.
Lugogo Bypass/Kira Road Roundabout to Wandegeya Junction through Kira/Haji Musa Kasule Road<br>
                                                                                Nsambya (Map)<br>
Within 3km by road distance from Nsambya Estate
Example of delivery zone: Upto Clock Tower, Hotel International, Greenhill Academy, and International University of East Africa.
                                      </span>
                                                                           <span> *First Time Customer<br>
                                        We make a call or send an email to confirm delivery details every time we receive an order from a new customer so we can deliver bento without mistake.<br>

</span>
                                      <span>*Self Collection<br>
                                      You are free to collect bento from our kitchen at any time between 1200 and 1300 hours. Delivery fee will not be charged in this case.<br></span>
                                     <span> *Attempt Delivery Notice<br>

We will issue this notice if we attempted our delivery in your absence.
Please call us as soon as you return to your home/office to arrange
re-delivery.
                                      </span>


                                      <span>*Refund Coupon<br>
                                      This coupon will be issued once we notice that the bento has been damaged during delivery. The coupon number will be sent later via e-mail. Please feel free to contact us if you do not find the coupon but receive damaged bento, preferably with a photograph. But we do not replace bento due to our manufacturing capacity. </span>
                                     <span>*Disclaimer<br>
                                      Bento is delivered using motorcycles. We may fail to deliver or deliver late due to the following reasons:<br>
 - In the case where driving motorcycles is difficult due to heavy rainfall,
thunderstorm, strike, riot, roadblock.<br>
 - receiving the wrong contact or delivery information.<br>
 - If  receiver is not available at the time of delivery.</span>
                                  </div>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="postpaid">
                                <div class="des-content">
                                    <div class="sm-des">
                                                                        <span>This payment system is for customers who wish to pay for our service weekly or monthly depending on their preference.<br>
                                1. Customers give us a deposit.<br>
                                2. An I.D. is made for postpaid customers.<br>
                                3.  Customers shall select "postpaid customer" on the payment page and enter their I.D. and password.<br>
                                4. Customers are free to order bento not exceeding the amount of deposit.<br>
                                5. Monthly/weekly invoices will be provided to customers according to their preference.<br></span>
                                <span> Customers can make payment from the following choice.<br>
   Online settlement<br>
   * Mobile money / MTN or Airtel only<br>
   * Credit card / VISA or MASTER only<br> </span>
   <span>Offline settlement<br>
   * Cash or cheque payment at our office<br>
  * Bank transfer or cash deposit to our bank account<br>
                                    Upon cancellation, deposit shall be refunded immediately through this postpaid system.</span>
                                    </div>
                                </div>

                            </div>
                            </div>
                            </div>
                      </div>
                    </div>

{% endblock %}