{% extends 'core/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
 <!-- Account Area Start -->
    <div class="account-area pb60 pt60">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <form action="{% url 'core:login' %}" class="login-side" method="post">
                    {%csrf_token%}
                    {% if next %}
                    <input type="hidden" name="next" value="{{next}}"/>
                    {% endif %}
              <div class="login-reg">
                <h3>Login</h3>
                <div class="form-group">
                    <label class="control-label">E-Mail</label>
                    <input type="text" class="form-control" placeholder="E-Mail" value="" name="email">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" value="" name="password">
                </div>
                </div>
                <div class="frm-action">
                    <div class="input-box tci-box">
                        <input type="submit" value="Login" name="processed-checkout" class="in-btn">
                    </div>
                 <span>
                     <input class="remr" type="checkbox"> Remember me
                 </span>
                <a href="#" class="forgotten forg">Forgotten Password</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-xs-12 lr2">
                <form action="{% url 'core:register' %}">
              <div class="login-reg">
                <h3>Register</h3>
                <div class="form-group">
                    <label class="control-label">E-Mail</label>
                    <input type="text" class="form-control" placeholder="E-Mail" value="" name="email">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" value="" name="password">
                </div>
                  <div class="form-group">
                    <label class="control-label">Repeat Password</label>
                    <input type="password" class="form-control" placeholder="Password" value="" name="password">
                </div>
                </div>
                <div class="frm-action">
                    <div class="input-box tci-box">
                        <input type="submit" value="Register" name="processed-checkout" class="in-btn">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- Account Area End -->

{% endblock %}