{% extends 'core/base.html' %}
{% block title %}Order {% endblock %}
{% block content %}
<div class="product-details-area pt60 pb60">
    <div class="container">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="total-product">
            {% for object in menu_items %}
            <div class="row">
                <div class="single-our-menu">
                <div class="col-md-3 col-sm-3  ">
                    <div >
                        <img class="order-img" src="{{object.image.url}}" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="pd-content">
                        <div class="section-title">
                            <h3>{{object}}</h3>
                        </div>
                        <div class="sm-price">
                            UGX {{object.unit_price}}
                        </div>
                       <!-- <div class="sm-des">
                            {{object.description}}
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 nopadding">
                     <div class="qty-add">
                            <input type="number" class="qty-btn" min="1" value="1" name="quantity">
                            <a class="btn btn-default" href="{% url 'core:add_to_cart' object.id %}" >Add to Cart</a>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="divider"></div>

            {% endfor %}
                </div>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
                        <aside>
                             <div class="single-widget my-cart detail-cart">
                                 <div class="whdget-title">
                                     <h2>Your Cart</h2>
                                 </div>
                                <div class="total-top-rated">
                                    <ul>
                                         <li>
                                             <div class="single-rate">
                                                 <div class="rate-img">
                                                     <a href="#"><img src="/static/lavie/img/menu/405/01.JPG" alt=""></a>
                                                 </div>
                                                 <div class="rate-content">
                                                     <div class="tate-title">
                                                         <a href="#">{{object}}</a>
                                                     </div>

                                                        <div class="cart-price">
                                                           {{object.unit_price}}
                                                        </div>
                                                 </div>
                                             </div>
                                            </li>
                                     </ul>
                                     <div class="sub-total">
                                         <strong>Subtotal:</strong> <span>{{object.unit_price}}</span>
                                     </div>
                                     <div class="view-check-btn">
                                         <a href="{% url 'core:cart' %}" class="com-btn">View Cart</a>
                                         <a href="{% url 'core:checkout' %} " class="com-btn">Checkout</a>
                                     </div>
                                </div>
                             </div>
                         </aside>
    </div>
</div>
{% endblock %}