{% extends 'core/base.html' %}
{% load core_extras %}
{% block title %} Menu {% endblock %}
{% block content %}
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 " >
                <div class="whdget-title" align="center">
                                     <h2>Main Menu</h2>
                </div>
                <div class="total-product">
                    <div class="row">
                        {% for item in menu_items %}
                        <div class="col-md-6 col-sm-6">
                           <div class="single-our-menu">
                                   <div class="sm-image text-center">
                                       <img src="{{item.image.url}}" alt="">
                                   </div>
                                   <div class="menu-heading">
                                       {{item}}
                                   </div>
                                   <div class="sm-des">
                                       {{item.description}}
                                   </div>
                                   <div class="sm-contents">
                                       {{item.content}}
                                   </div>
                                   <div class="sm-price">
                                       UGX {{item.unit_price|split}}<span>000</span>
                                   </div>

                               </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                <div class="whdget-title" align="center">
                                     <h2>Side Dish</h2>
                </div>
                <div class="total-product">
                    <div class="row">
                        {% for side_dish in side_dishes %}
                        <div class="col-md-6 col-sm-6">
                           <div class="single-side-dish">

                                   <div class="menu-heading">
                                       {{side_dish}}
                                   </div>
                                   <div class="sm-price">
                                       UGX {{side_dish.unit_price|split}}<span>000</span>
                                   </div>
                               </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

{% endblock %}