{% include 'core/components/page_head_tags.html' %}
<body>
<div class="our-menu-area  pt60 pb60">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                   <div class="section-title text-center pb40">
                       <h1>Menu</h1>
                        <div class="sec-img">
                            <img src="/static/lavie/img/icon/product.png" alt="">
                        </div>
                   </div>
              </div>
              </div>

            <div class="row">
                <div class="total-our-menu carsoule-btn cb-2">
                    {% for item in object_list %}
                    <form class="form-item">
<h4>{{item.title}}</h4>
<div><img src="/static/lavie/img/menu/01.JPG"></div>
<div>Price : {{item.unit_price}}<div>
<div class="item-box">
    <div>
	{{item.title}}
        {{item.description}}

	<div>
    Qty :
    <select name="product_qty">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>
	</div>

	<div>


    <input name="product_code" type="hidden" value="{$row["product_code"]}">
    <button type="submit">Add to Cart</button>
</div>
</form>
                    {% endfor %}

            </div>
        </div>
    </div>
    <!-- our menu area are end-->
</body>
</html>