{% extends 'core/base.html' %}
{% block title %}Order {% endblock %}
{% block content %}
{% block headers %}
<style>
    label {
    font-size :14px;
	font-weight: bold;
	float: left;
	padding-left:25px;
}
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding-left: 25px;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
</style>
{% endblock %}
{% load core_extras %}
        <!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
   <div class="row ">
        <div class="8 col-sm-8 col-xs-12">
                      {% for item in menu_items %}
                      <div class="row">
                          <div class="col-md-3 col-sm-3">
                              <div class="pd-img">
                                  <a class="venobox" data-gall="myGallery" href=""><img src="{{item.image.url}}" alt=""></a>
                              </div>
                          </div>
                          <form action="{% url 'core:add-to-cart' %}" method="post">{% csrf_token %}
                             <div class="col-md-5 col-sm-5">
                                <div class="pd-content">
                                  <div class="order-title">
                                        <h3>{{item}}</h3>
                                   </div>
                                    <div class="sm-price">
                                        UGX {{item.unit_price|split}}<span>000</span>
                                    </div>
                                </div>
                          </div>
                              <div class="btn-add">
                          <div class="col-md-2 col-sm-2">
                               <input type="number" class="qty-btn" min="1" value="0" name="quantity" id="qty_{{item.id}}"/>
                              <input hidden="true" value="{{item.id}}" name="menu_id"/>
                          </div>
                          <div class="col-md-2 col-sm-2">
                              <input type="submit" class="btn btn-default" value="Add"/>
                          </div>
                              </div>
                          </form>

                          </div>
                      {% endfor %}
                         <br><br>
                      {% for side_dish in side_dishes %}
                      <form action="{% url 'core:add-to-cart' %}" method="post">{% csrf_token %}
                      <div class="row">
                          <div class="col-md-8 col-sm-8">

                                <div class="pd-content">
                                  <div class="order-title">
                                        <h3>{{side_dish}}</h3>
                                   </div>
                                    <div class="sm-price">
                                        UGX {{side_dish.unit_price|split}}<span>000</span>
                                    </div>
                                </div>
                          </div>
                              <div class="btn-add">
                          <div class="col-md-2 col-sm-2">
                               <input type="number" class="qty-btn" min="1" value="0" name="quantity" id="qty_{{side_dish.id}}"/>
                          </div>
                                  <!--
                          <div class="col-md-2 col-sm-2 ">
                              <a class="btn btn-default" onclick="cartAction('{{side_dish.id}}')">Add to Cart</a>
                          </div> -->
                                  <input hidden="true" name="menu_id" value="{{side_dish.id}}"/>
                                  <div class="col-md-2 col-sm-2">
                                      <input class="btn btn-default" type="submit" value="Add"/>
                                  </div>
                              </div>
                      </div> </form> <br><br>
                      {% endfor %}
                  </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
                       <div class="total-aside">
                        <aside>
                             <div class="single-widget my-cart">
                                 <div class="whdget-title text-centered">
                                     <h2>Your Cart</h2>
                                 </div>
                                <div class="total-top-rated">
                                    <!-- Add Delivery Date -->
                                    <form method="post" action="{% url 'core:checkout' %}">{%csrf_token%}
                                        <div class="Zebra_DatePicker_Icon_Wrapper">
                                        <label>Delivery Date:</label>
                                        <input id="datepickers" name="delivery-date" type="text" class="date-wrapper"/>
                                    </div>
                                    <ul>

                                        {% for item in cart %}
                                        <li class="row ">
                                            <span class="quantity">{{item.quantity}}</span>
                                            <span class="itemName">{{item.menu_item}}</span>
                                            <span class="price">{{item.unit_price}}</span>
                                        </li>
                                        {% endfor %}
                                        <li class="row">
                                               <div class="itemName">Sub Total:</div>
                                               <div class="price">{{cart.summary}}</div><br>
                                               <div class="itemName">Delivery Fee:</div>
                                               <div class="price">{{cart.delivery_fee}}</div><br>
                                                <label>Self Collection <input type="checkbox" name="self_collects" onchange="checkbutton()"></label>
                                        </li>
                                        <li class="row">
                                            <span class="itemName">Grand Total:</span>
                                            <span class="price">{{cart.grand_total}}</span>
                                        </li>
                                     </ul>
                                    <div class="input-box">
                                        <input type="submit" class="in-btn" value="Checkout"/>
                                    </div>
                                    </form>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-md-2 offset-md-3">
                                </div>
                                <div class="col-md-8">
                                    <p>We may decline orders that exceed our capacity.</p>
                                </div>
                            </div>
                         </aside>
                        </div>
                     </div>
       </div>
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

{% endblock %}
